* {
  margin: 0;
  padding: 0;
  font-family: "work sans";
  list-style: none;
}

/* Shared */

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Banner */

.banner-section {
  background-image: url("images/banner/banner2.png");
  width: 1340px;
  height: 620px;
}

.banner-content {
  flex-direction: column;
  margin: 0 230px 365px 845px;
  padding-top: 216px;
  gap: 10px;
}

.banner-head {
  color: #151414;
  text-align: right;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.banner-description {
  color: var(--dark-02, #444343);
  text-align: right;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.btn-primary {
  border-radius: 5px;
  background: #f15b22;
  width: 100px;
  height: 34px;
  flex-shrink: 0;
  margin-left: 170px;
}

/* Main Section */

.section-content {
  flex-direction: row;
  /* gap: 200px; */
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.section-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-pic {
  width: 350px;
  height: 550px;
}

.section-text {
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}

.section-header {
  padding: 20px;
  color: #151414;
  font-family: Work Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-description {
  padding: 20px;
  color: var(--dark-02, #444343);
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.section-list-items {
  padding: 20px;
}

.items {
  padding-bottom: 5px;
  color: var(--dark-02, #444343);
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.plan-section-title {
  text-align: center;
  margin-bottom: 20px;
}

.plan-list {
  justify-content: space-around;
  align-items: center;
  margin-left: 310px;
  margin-right: 250px;
}

.section-bg {
  background-image: url("images/watch.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 130px 230px;
  /* height: 600px;
  width: auto; */
}

.section-bg-title {
  padding-top: 59px;
  padding-left: 64px;
  color: #fff;
  font-family: Work Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-btn {
  margin-left: 60px;
  margin-top: 25px;
  padding-bottom: 20px;
}

.secondary-btn {
  border-radius: 5px;
  background: #fff;
  width: 80px;
  height: 44px;
}

footer {
  background-color: black;
  margin: 0;
  /* width: 1600px;
  height: 577px; */
}

.footer-content {
  align-items: center;
  justify-content: space-around;
}

.footer-feature {
  width: 50%;
}

.footer-content-title {
  color: #f8f8f8;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-text {
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.logo-container {
  /* align-items: flex-start; */
  justify-content: left;
  gap: 3px;
}

input {
  background: var(--dark-01, #151414);
  width: 325px;
  height: 50px;
  flex-shrink: 0;
  margin-bottom: 30px;
}
